<link rel="stylesheet" href="app.component.css">
<body>
  <header> 
      <h1> CANAL ALFA</h1>
  </header>
  <div id="container-all">
  <div class="container">
      <div class="item item-1">Los caballitos de mar o hipocampos (género Hippocampus) constituyen un grupo de peces marinos pertenecientes a la familia Syngnathidae, que también incluye a los peces pipa.
          Su etimología, creada por San Isidoro de Sevilla en su obra Etimologías, procede de la combinación de los dos términos en griego clásico ίππος (hippos, que significa "caballo"), por el peculiar parecido que presenta su cabeza con la de los caballos, y kampos ("monstruo de mar"). </div>
          <div class="item item-2">
              <img src="../assets/Caballos1.jpg" alt="Imagen1">
          </div>
          <div class="item item-3">
              <img src="../assets/Hipo1.jpg" alt="Imagen2">
          </div>
          <div class="item item-4">
              Adoptan una posición erecta, impulsándose con su aleta dorsal. El desplazamiento vertical lo consigue ajustando el volumen de aire de las vejigas natatorias y mediante las aletas pectorales. Las aletas son muy tenues y tienen forma de abanico. La dorsal impulsa los desplazamientos horizontales, y la agita unas tres veces y media por segundo. No tienen aleta anal, en su lugar tienen una cola prensil, que se enrolla en espiral y les permite aferrarse a corales y plantas subacuáticas.
          </div>
  </div>
  </div>
</body>
